<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-4.0.xsd ">
    <security:http pattern="/dwr/**" security="none"/>
    <security:http pattern="/RES/**" security="none"/>
    <security:http pattern="/css/**" security="none"/>
    <security:http pattern="/errorPage/**" security="none"/>

    <security:http pattern="/img/**" security="none"/>
    <security:http pattern="/static/**" security="none"/>
    <security:http pattern="/innerHtml/**" security="none"/>
    <security:http pattern="/js/**" security="none"/>
    <security:http pattern="/locale/**" security="none"/>

    <security:http pattern="/favicon.ico" security="none"/>
    <security:http pattern="/druid/**" security="none"/>

    <security:http auto-config="false" use-expressions="true" pattern="/**"
                   entry-point-ref="authenticationProcessingFilterEntryPoint">
        <security:custom-filter ref="clientFilter" after="SECURITY_CONTEXT_FILTER"/>
        <security:access-denied-handler ref="accessDeniedHandler"/>
        <security:intercept-url pattern="/" access="permitAll"/>
        <security:intercept-url pattern="/main/common" access="hasRole('ROLE_USER')" method="GET"/>
        <security:intercept-url pattern="/main/admin" access="hasRole('ROLE_ADMIN')" method="GET"/>

        <security:intercept-url pattern="/**" access="authenticated"/>
        <security:logout invalidate-session="true" logout-url="/auth/logout" logout-success-url="/"/>
        <security:csrf disabled="true"/>

    </security:http>

    <bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl"/>

    <bean id="webexpressionHandler"
          class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>

    <bean id="accessDeniedHandler" class="org.springframework.security.web.access.AccessDeniedHandlerImpl">
        <property name="errorPage" value="/auth/denied"/>
    </bean>

    <bean id="authenticationProcessingFilterEntryPoint"
          class="org.iusp.common.auth.entrypoint.IuspLoginUrlAuthenticationEntryPoint">
        <constructor-arg name="loginFormUrl" value="/"/>
    </bean>

    <!-- 页面跳转 -->
     <bean id="authenticationSuccessHandler"
          class="org.iusp.common.auth.handler.ReturnJsonAuthenticationSuccessHandler">
    </bean>

    <!-- 对验证失败ajax返回相应信息 -->
    <bean id="authenticationFailureHandler"
          class="org.iusp.common.auth.handler.ReturnJsonAuthenticationFailureHandler">
    </bean>

    <bean id="clientFilter" class="org.iusp.common.auth.filter.ClientFilterFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="authenticationFailureHandler" ref="authenticationFailureHandler"/>
        <property name="authenticationSuccessHandler" ref="authenticationSuccessHandler"/>
    </bean>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="userAuthenticationProvider"/>
    </security:authentication-manager>

    <bean id="userAuthenticationProvider" class="org.iusp.common.auth.UserAuthenticationProvider"></bean>
    <bean id="customFilterChain" class="org.iusp.common.filter.CustomFilterChain"/>
</beans>